/*---------- footer css ----------*/

.c-footer{
    
    padding: 15px 0;
    margin-bottom: 15px;

    .footer-img{
       margin: auto;
        width: 80%;
       text-align: center;
       img{
        width: 60%;
       }
    }
    .footer-title{
        font-weight: 600;
        color: #333;
    }
    .footer-sub-part{
        color: #ccc;
    }
}
//footer responsive css
@media (min-width: $screen-sm-min){//mobile lanscape
}
@media (min-width: $screen-md-min){//ipad portrait
    
   .c-footer{
    .footer-img{
       
        text-align: center;
        img{
         width: 60%;
         margin-top: 50px;
        }
     }
     .footer-col-left{
    float: left;
     width: 49%
      
    }
    .footer-col-right{
       float: left;
        width: 50%;
    }
   }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
.c-footer{
    .footer-img{
        img{
            margin-top: 0;
        }
    }
}
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end footer responsive css
/*---------- end footer css ----------*/