//l-footer
.l-footer
    .container
        .c-footer
            .footer-img.footer-col-left
                a(href="#") 
                    img(src="upload/logo-NAL.jpg", alt="logo",loading="lazy")
            .footer-content.footer-col-right
                .footer-title NAL MEDIA ベトナムオフショア開発にまつわる情報を提供します
                .footer-sub-part このサイトは、ベトナムにおけるオフショア開発の状況、ベトナムと日本の協力関係、およびテクノロジーに関する最新のニュースを更新し、NALの人々とお客様のストーリーを投稿しております。
                .footer-sub-part 住所：3F, 84 Duy Tân, Cầu Giấy, Hà Nội, Việt Nam
                .footer-sub-part 電話番号：(+84)243-787-8654
                .footer-sub-part メールアドレス：info@nal.vn
    //end container
//end l-footer

