//jQuery first, then Popper.js, then Bootstrap JS
script(src='js/jquery-3.4.1.min.js')
script(src='js/jquery-migrate-1.4.1.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.matchHeight-min.js')
script(src='js/style.js')
script(src='js/app.js')