/*---------- example css ----------*/
.menu{
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: #333 solid 2px;
    border-bottom: #333 solid 2px;
    text-align: center;
     ul {
        margin: auto;
        padding: 0;
        text-align: center;
            
        }
    li{
        
        display:block;
        margin: 10px 15px;
        a {
            
            margin-right: 20px;
            padding: 5px 10px;
            text-decoration: none;
            color: #333;
          }
          a:hover{
            background-color: #333 ;
            color: #fff;
            border-radius: 5px;
          }
    }
    
}
.mt-20{
    margin-top: 20px;
}
.pc-host{
    display: none;
}
.host-item-1{
    width: 100%;
    position: relative;
    padding: 10px 0;
    .host-img{
        width: 100%;
    }
    .host-content{
        bottom: 10px;
        .host-title{
            padding: 10px 20px;
            display: inline-block;
            background-color:  red;
            color: #fff;
            margin-left: 20px;
        }
        .host-description{
            background-color: #fff;
            .host-description-time{
                display: none;
            }
        }
    }
}
.host-item-2{
    width: 100%;
    position: relative;
    padding: 10px 0;
    .host-img{
        width: 100%;
    }
    .host-content{
        bottom: 10px;
        left: 0;
        right: 0;
        .host-title{
            background-color:  purple;
        }
     
    }
}
.item-col-3{
    width: 30%;
    float: left;
}
.item-col-7{
    width: 70%;
    float: left;
}
.host-item-3{
    width: 100%;
    position: relative;
    padding: 10px 0;
    .host-img{
        width: 100%;
    }
    .host-content{
        bottom: 10px;
        left: 0;
        right: 0;
        .host-title{
            background-color:  blue;
        }
      
    }
}
.host-content{
    position: absolute;
    z-index: 1;
    bottom: 10px;
   
    padding: 0 20px;
    .host-title{
            padding: 10px 20px;
            display: inline-block;
            background-color:  purple;
            color: #fff;
            margin-left: 20px;
        }
        .host-description{
            padding: 10px 20px;
            background-color: #fff;
            .host-description-title{
                text-align: center;
                font-size: 18px;
                font-weight: 700;
            }
            .host-description-time{
                padding: 10px 0;
            }
        }
}
.news-item{

    margin-bottom: 20px;
    .news-item-img{
     width: 100%;
    border-radius: 5px;
    }
    .news-item-content{
    min-height: .7px;
    padding-right: 20px;
    margin-left: 15px;
    margin-top: 1px;
    }
   
    .news-item-content-tag{
        margin-top: 10px;
        display: inline-block;
        padding: 2px 5px;
        background-color: #333;
        color: #fff;
        border-radius: 3px;
    }
    .news-item-content-title{
        font-size:18px ;
        font-weight: 600;
        a{
            text-decoration: none;
            color: #333;
        }
        :hover{
            color: blue;
        }
    }
    .news-item-content-time,.news-item-content-desc
    {
       color: #ccc;
    }
   
}
.news{
    .lastest-news{
        .lastest-news-title{
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .popular-news{
        
        .popular-news-title{
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 600;
        }
    }
}
.popular-item{
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    margin-bottom: 20px;
    .popular-item-content{
    min-height: .7px;
    padding-right: 20px;
    margin-left: 10px;
    margin-top: 1px;
    }
    .popular-item-content-tag{
        display: inline-block;
        padding: 2px 5px;
        background-color: #333;
        color: #fff;
        border-radius: 3px;
    }
}
.popular-item-content-title{
    font-size: 14px;
    font-weight: 600;
    a{
        text-decoration: none;
        color: #333;
    }
    :hover{
        color: blue;
    }
}
.popular-item-img{
    width: 100px;
    height: 87px;
    border-radius: 3px
}

.tag-item{
    padding: 5px 0;
    .tag-icon{
        height: 20px;
        width: 20px;
        color: #ccc;
        img{
            color: #ccc;
        }
    }
    .tag-desc{
        color: #333;
    } 
 
}
.mb-10{
    padding-bottom: 10px;
}
.under-tag-img{
   
    margin: auto;
    display: block;
    width: 80%;
}
// responsive css
@media (min-width: $screen-sm-min){//mobile lanscape
    .menu{
       
        li{
            display:inline-block;
        }
    }
    .news-item{
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        .news-item-img{
            width: 210px;
            height: 157px;
        }
        .news-item-content-tag{
            margin-top: 0;
        }
    }
}
@media (min-width: $screen-md-min){//ipad portrait
  
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
.host-item-2,.host-item-3 {
    display: none;
}
.host{
   
    width: 100%;
}
.new-host{
    float: left;
    width: 58%;
    padding-bottom:10px;
}
.col-half-left{
    width: 65%;
    float: left;
    
}
.col-half-right{
    width: 35%;
    float: left;
}
.pc-host{
    padding-left: 15px;
    display: block;
    float: right;
    width: 41.6%;
    .pc-item-2{
        width: 100%;
        position: relative;
        padding: 10px 0;
        
        .host-img{
            width: 100%;
           
        }
        .host-content{
            bottom: 10px;
            .host-title{
                background-color:  purple;
            }
         
        }
    }
    .pc-item-3{
        height: 40%;
        width: 100%;
        position: relative;
        padding: 10px 0;
        .host-img{
            width: 100%;
        }
        .host-content{
            bottom: 10px;
            .host-title{
                background-color:  blue;
            }
          
        }
    }
}
}

.under-tag-img{
    width: 100%;
}
.c-slide{
    position: relative;
    margin: auto;
}
.slide-item{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    img{
        width: 100%;
    }
}
.button{
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.button-right{
    right: 0;
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
    
}
@media (min-width: $screen-xxl-min){//pc largr size with 1400px tp grow up

}
//end example responsive css
/*---------- end example css ----------*/