//home about
.container
    .menu#menu
        ul
            li#menu-1
            li#menu-2
            li#menu-3
            li#menu-4    
    .host
        .new-host#new-host
        .pc-host#pc-host
    .news 
        .lastest-news.col-half-left
            .lastest-news-title Lastest News
            .lastest-news#latest-news
        .popular-news.col-half-right 
            .popular-news-title Popular News
            #popular-news
            .popular-news-title Tags
            #tag
            .tag-list
                img.under-tag-img.mt-20.mb-10(src="upload/banner-1.jpg", alt="banner")
                img.under-tag-img.mb-10(src="upload/banner-2.jpg", alt="banner")
                img.under-tag-img.mb-10(src="upload/banner-3.jpg", alt="banner")
            .c-slide 
                .slide-item
                    img(src="upload/latest-1.jpg", alt="slide", styles="width:100%")
                .slide-item
                    img(src="upload/latest-2.jpg", alt="slide", styles="width:100%")
                .slide-item
                    img(src="upload/latest-3.jpg", alt="slide", styles="width:100%")
                button(type="button" onclick="plusSlides(-1)").button.button-left <
                    
                button(type="button" onclick="plusSlides(1)").button.button-right >
  
            
    
//end home about